---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-16 bg-gray-100">
        <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold text-center text-blue-900 mb-8">
                Info VisSport
            </h2>

            <!-- Ouverture de la billetterie -->
            <div class="mb-12">
                <h3 class="text-2xl font-semibold text-blue-900 mb-4">
                    Ouverture de la billetterie
                </h3>
                <p class="text-lg text-gray-700 mb-4">
                    Ne manquez pas l'ouverture de notre billetterie qui aura
                    lieu le <strong>10 mars 2025</strong>.
                </p>
                <p class="text-lg text-gray-700">
                    Notez bien cette date dans vos agendas pour être parmi les
                    premiers à réserver vos places.
                </p>
            </div>

            <!-- Tarifs d'entrée -->
            <div class="bg-blue-100 p-6 rounded-lg shadow-lg mb-12">
                <h3 class="text-2xl font-semibold text-blue-900 mb-4">
                    Tarifs d’entrée
                </h3>
                <ul class="list-disc pl-6 text-lg text-gray-700">
                    <li>
                        <strong>Pass Journée :</strong> 10,00 € - Accès à toutes
                        les projections et événements du festival pour une journée
                        de votre choix.
                    </li>
                    <li>
                        <strong>Pass Week-end :</strong> 25,00 € - Accès à tous les
                        événements limités à toutes les projections et événements
                        sur le week-end entier (samedi et dimanche).
                    </li>
                    <li>
                        <strong>Pass Festival Complet :</strong> 60,00 € - Vous bénéficiez
                        d'un accès complet au festival avec un accès illimité pendant
                        toute la durée de l'événement.
                    </li>
                </ul>
            </div>
            <div class="container mx-auto px-6">
                <h3 class="text-2xl font-semibold text-blue-900 mb-4">
                    Nos lieux de projection et d’événements
                </h3>

                <!-- Carte pour Axone de Montbéliard -->
                <h4 class="text-xl font-semibold text-blue-900 mb-2">
                    Axone de Montbéliard :
                </h4>
                <div class="relative mb-4 w-full h-64">
                    <iframe
                        class="absolute inset-0 w-full h-full"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.826270871941!2d6.817977676625757!3d47.493297671179604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4792173a6343193b%3A0x57a3ee35fe6497f4!2sAxone!5e0!3m2!1sfr!2sfr!4v1741857237560!5m2!1sfr!2sfr"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="text-lg text-gray-700">
                    Salle principale pour les projections.
                </p>

                <!-- Carte pour Salle des Fêtes -->
                <h4 class="text-xl font-semibold text-blue-900 mb-2">
                    Salle des Fêtes :
                </h4>
                <div class="relative mb-4 w-full h-64">
                    <iframe
                        class="absolute inset-0 w-full h-full"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86320.90912027909!2d6.698197100604237!3d47.46013148836711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4792168a3fde734d%3A0x3c038dc4c1fdce77!2sSalles%20de%20location%20du%20Bois%20Bourgeois!5e0!3m2!1sfr!2sfr!4v1741857377129!5m2!1sfr!2sfr"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="text-lg text-gray-700">Ateliers créatifs.</p>

                <!-- Carte pour Place Centrale -->
                <h4 class="text-xl font-semibold text-blue-900 mb-2">
                    Place Centrale :
                </h4>
                <div class="relative mb-4 w-full h-64">
                    <iframe
                        class="absolute inset-0 w-full h-full"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.6452220544484!2d6.810152176626913!3d47.516300071181654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47921703f12eb9ff%3A0xd95d9ce7b5f27f72!2sRue%20Centrale%2C%2025200%20Montb%C3%A9liard!5e0!3m2!1sfr!2sfr!4v1741857429261!5m2!1sfr!2sfr"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="text-lg text-gray-700">
                    Activités extérieures et expositions.
                </p>
            </div>
        </div>

        <!-- Où loger pendant le festival -->
        <div class="mb-12 p-12">
            <h3 class="text-2xl font-semibold text-blue-900 mb-4">
                Où loger pendant le festival ?
            </h3>
            <p class="text-lg text-gray-700 mb-4">
                Montbéliard propose une large gamme d’hébergements pour tous les
                budgets. Profitez de nos partenariats pour bénéficier de tarifs
                préférentiels.
            </p>

            <!-- Hôtels partenaires -->
            <h4 class="text-xl font-semibold text-blue-900 mb-4">
                Hôtels partenaires :
            </h4>
            <ul class="list-disc pl-6 text-lg text-gray-700 mb-6">
                <li>
                    <strong>Hôtel Montbéliard Centre :</strong> Adresse : 10 Rue
                    des Acacias, 25200 Montbéliard. Tarifs spéciaux pour les festivaliers
                    : -15% avec le code "LUMIERE2025".
                </li>
                <li>
                    <strong>Hôtel Le Lumière :</strong> Adresse : 5 Rue des Lumières,
                    25200 Montbéliard. Tarifs : Chambre double à partir de 50€.
                </li>
            </ul>

            <!-- Campings -->
            <h4 class="text-xl font-semibold text-blue-900 mb-4 pt-6">
                Campings :
            </h4>
            <ul class="list-disc pl-6 text-lg text-gray-700">
                <li>
                    <strong>Camping des Rives du Doubs :</strong> Adresse : Route
                    de l'Etang, 25100 Montbéliard. Services : Tentes, caravanes et
                    bungalows.
                </li>
            </ul>
        </div>
    </section>
</Layout>
