---
import LogoInstagram from "../assets/icons/instagram1.svg";
import LogoFacebook from "../assets/icons/facebook1.svg";
import LogoTiktok from "../assets/icons/tic-tac1.svg";
---

<footer class="bg-blue-950 text-white py-8">
    <div class="container mx-auto px-4">
        <!-- Header -->
        <div
            class="flex flex-col items-center md:flex-row justify-between mb-8"
        >
            <h2 class="font-cursive text-2xl text-center md:text-left">
                VIS’SPORT
            </h2>
        </div>

        <!-- Informations section -->
        <div
            class="flex flex-col md:flex-row justify-between gap-8 md:gap-16 mb-8"
        >
            <div class="text-center md:text-left">
                <a class="text-lg font-semibold">A PROPOS</a>
                <br />
                <a href="text-lg font-semibold">CONTACT</a>
            </div>
            <div class="text-center md:text-left">
                <h3 class="text-lg font-semibold">ADRESSE</h3>
                <p>Axone de Montbéliard</p>
            </div>
        </div>

        <!-- Social icons -->
        <div class="border-t border-white mt-8 pt-6 flex justify-center gap-8">
            <a href="#" class="text-white hover:text-gray-300">
                <LogoTiktok />
            </a>
            <a href="#" class="text-white hover:text-gray-300">
                <LogoFacebook />
            </a>
            <a href="#" class="text-white hover:text-gray-300">
                <LogoInstagram />
            </a>
        </div>
    </div>
</footer>
